include bladoxy/README.md
include bladoxy/LICENSE
include bladoxy/requirements.txt
recursive-include bladoxy/modules/dependencies *
recursive-include bladoxy/modules/dependencies_src *
recursive-include bladoxy/modules/privoxy *